<p id="notice"><%= notice %></p>

<h1>Listing Moderators</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email address</th>
      <th>Mission</th>
      <th>Username</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @moderators.each do |moderator| %>
      <tr>
        <td><%= moderator.first_name %></td>
        <td><%= moderator.last_name %></td>
        <td><%= moderator.email_address %></td>
        <td><%= moderator.mission_id %></td>
        <td><%= moderator.username %></td>
        <td><%= moderator.password %></td>
        <td><%= link_to 'Show', moderator %></td>
        <td><%= link_to 'Edit', edit_moderator_path(moderator) %></td>
        <td><%= link_to 'Destroy', moderator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Moderator', new_moderator_path %>
