<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @moderator.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @moderator.last_name %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @moderator.email_address %>
</p>

<p>
  <strong>Mission:</strong>
  <%= @moderator.mission_id %>
</p>

<p>
  <strong>Username:</strong>
  <%= @moderator.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @moderator.password %>
</p>

<%= link_to 'Edit', edit_moderator_path(@moderator) %> |
<%= link_to 'Back', moderators_path %>
